
{% include head.html %}
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

		

      <!-- =================================================================================== -->
      <tr>
        <td style="margin:5px;padding:5px;width:30%;max-width:30%" align="center">
          <img style="margin:5px;padding-right:20px;width:100%;max-width:100%" src="../assets/img/AAN.jpg" alt="dise">
        </td>
        <td width="75%" valign="center">
          <papertitle>
           <strong>
            Masked Image Training for Generalizable Deep Image Denoising
           </strong>
         </papertitle>
          <br>
          <strong>Haoyu Chen</strong>, Jinjin Gu
          <br>
          <em>IEEE Conference on Computer Vision and Pattern Recognition <strong>(CVPR)</strong></em>, 2023
     <br>
          <!-- <a href="https://www.jasongt.com/projectpages/pipal.html">[Website]</a>  -->
          <!-- <a href="https://arxiv.org/abs/2104.09497">[arxiv]</a>  -->
          <!-- <a href="https://github.com/haoyuc/A2N">[Code]</a> -->
          <!-- <a href="https://paperswithcode.com/dataset/pipal-perceptual-iqa-dataset">[Benchmark]</a>  -->
          <!-- <a href="https://www.jasongt.com/research-full">[CVPR 2022 NTIRE Challenge]</a>  -->
          <!-- <a href="https://www.youtube.com/watch?v=315Umwgpa6s">[Youtube]</a>  -->
          <!-- <a href="https://www.bilibili.com/video/BV1cr4y1P7s4">[Bilibili]</a>  -->
     <br>
          <!-- <p> 
             We propose a novel machine learning problem – the SRP problem as reconstructing high-quality data from unsatisfactory sensor data in industrial systems. 
          </p> -->
        </td>
    </tr>
    <!-- =================================================================================== -->
   
    
    

      <!-- =================================================================================== -->
      <tr>
        <td style="padding:5px;width:30%;max-width:30%" align="center">
          <img style="margin:5px;padding-right:20px;width:100%;max-width:100%" src="../assets/img/AAN.jpg" alt="dise">
        </td>
        <td width="75%" valign="center">
          <papertitle>
           <strong>
            Attention in Attention Network for Image Super-Resolution
           </strong>
         </papertitle>
          <br>
          <strong>Haoyu Chen</strong>, Jinjin Gu, Zhi Zhang
          <br>
          <em>arXiv</em>, 2021
     <br>
          <!-- <a href="https://www.jasongt.com/projectpages/pipal.html">[Website]</a>  -->
          <a href="https://arxiv.org/abs/2104.09497">[arxiv]</a> 
          <a href="https://github.com/haoyuc/A2N">[Code]</a>
          <!-- <a href="https://paperswithcode.com/dataset/pipal-perceptual-iqa-dataset">[Benchmark]</a>  -->
          <!-- <a href="https://www.jasongt.com/research-full">[CVPR 2022 NTIRE Challenge]</a>  -->
          <!-- <a href="https://www.youtube.com/watch?v=315Umwgpa6s">[Youtube]</a>  -->
          <!-- <a href="https://www.bilibili.com/video/BV1cr4y1P7s4">[Bilibili]</a>  -->
     <br>
          <!-- <p> 
             We propose a novel machine learning problem – the SRP problem as reconstructing high-quality data from unsatisfactory sensor data in industrial systems. 
          </p> -->
        </td>
    </tr>
    <!-- =================================================================================== -->
   
    


      <!-- =================================================================================== -->
      <tr>
          <td style="margin:5px;padding:5px;width:30%;max-width:30%" align="center">
            <img style="margin:5px;padding-right:20px;width:100%;max-width:100%" src="../assets/img/PIPAL.jpg" alt="dise">
          </td>
          <td width="75%" valign="center">
            <papertitle>
             <strong>
              PIPAL: a Large-Scale Image Quality Assessment Dataset for Perceptual Image Restoration
             </strong>
           </papertitle>
            <br>
            Jinjin Gu, Haoming Cai, <strong>Haoyu Chen</strong>, Xiaoxin Ye, Jimmy S.Ren, Chao Dong
            <br>
            <em>European Conference on Computer Vision  <strong>(ECCV)</strong></em>, 2020
       <br>
            <a href="https://www.jasongt.com/projectpages/pipal.html">[Website]</a> 
            <a href="https://arxiv.org/abs/2007.12142">[arxiv]</a> 
            <a href="https://github.com/HaomingCai/PIPAL-Codebase">[Code]</a>
            <a href="https://paperswithcode.com/dataset/pipal-perceptual-iqa-dataset">[Benchmark]</a> 
            <a href="https://www.jasongt.com/research-full">[CVPR 2022 NTIRE Challenge]</a> 
            <a href="https://www.youtube.com/watch?v=315Umwgpa6s">[Youtube]</a> 
            <a href="https://www.bilibili.com/video/BV1cr4y1P7s4">[Bilibili]</a> 
       <br>
            <!-- <p> 
               We propose a novel machine learning problem – the SRP problem as reconstructing high-quality data from unsatisfactory sensor data in industrial systems. 
            </p> -->
          </td>
      </tr>
      <!-- =================================================================================== -->
   

   
      <!-- =================================================================================== -->
      <tr>
           <td style="margin:5px;padding:5px;width:30%;max-width:30%" align="center">
             <img style="margin:5px;padding-right:20px;width:100%;max-width:100%" src="../assets/img/SRP.jpg" alt="dise">
           </td>
           <td width="75%" valign="center">
             <papertitle>
              <strong>
              Super-resolution perception for industrial sensor data
              </strong>
            </papertitle>
             <br>
             Jinjin Gu, <strong>Haoyu Chen</strong>, Guolong Liu, Gaoqi Liang, Xinlei Wang, Junhua Zhao             
             <br>
             <em>arXiv</em>, 2018
        <br>
             <!-- <a href="https://sstzal.github.io/DFRF/">[Website]</a>  -->
             <a href="https://arxiv.org/abs/1809.06687">[arxiv]</a> 
             <!-- <a href="https://www.youtube.com/watch?v=F6fkVNk9bBw&amp;ab_channel=Shens">[Video]</a>  -->
             <!-- <a href="https://github.com/sstzal/DFRF">[Code]</a> -->
        <br>
             <!-- <p> 
                We propose a novel machine learning problem – the SRP problem as reconstructing high-quality data from unsatisfactory sensor data in industrial systems. 
             </p> -->
           </td>
      </tr>
        <!-- =================================================================================== -->


     

       </tbody>
</table>





<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">


<tbody>
  <tr style="padding:0px">
    <td style="width:63%;vertical-align:middle">
      <p style="text-align:left">
        <h1>
          <name>Haoyu Chen</name>
        </h1>
      </p>
      <p>
        I received a Bachelor degree in Computer Science and Engineering at The Chinese University of Hong Kong, Shenzhen (CUHKSZ) in 2021. <br>
        I am a Ph.D. student at the Hong Kong University of Science and Technology (Guangzhou) advised by <a href="https://sites.google.com/site/indexlzhu/home?authuser=0">Prof. Lei Zhu</a>.
</p>

<p> Mainly intrest in computer vision, especially in <strong>Low-level Vision</strong>. </p>

      <p style="text-align:center;margin-bottom:0px;">
        <a href="mailto:hchen794@connect.hkust-gz.edu.cn"> Email </a> &nbsp/&nbsp
        <!-- <a href="data/CV_Wanhua.pdf"> CV </a> &nbsp/&nbsp -->
        <a href="https://scholar.google.com/citations?&user=KWbcBucAAAAJ"> Google Scholar </a> &nbsp;/&nbsp;
        <!-- <a href="https://twitter.com/Wanhua_Ethan_Li">Twitter</a> &nbsp;/&nbsp; -->
        <a href="https://github.com/haoyuc"> GitHub </a> 
      </p>
    </td>
    <td style="padding:5%;width:20%;max-width:20%">
      <a href="../assets/img/profile2.jpg"><img style="width:100%;max-width:100%" alt="profile photo" src="../assets/img/profile2.jpg" class="hoverZoomLink"></a>
    </td>
  </tr>
</tbody>

</table>


