<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <!-- <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ '/portfolio' | prepend: site.baseurl }}/">Publication</a></li>
        </ul>
     </div>
   </nav> -->

    <main>
      {{ content }}


    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.



      <!-- Default Statcounter code for Haoyu Chen http://chenhaoyu.com -->
<!--       <script type="text/javascript">
      var sc_project=12491342; 
      var sc_invisible=0; 
      var sc_security="c00ed0d4"; 
      var sc_https=1; 
      var scJsHost = "https://";
      document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
      "statcounter.com/counter/counter.js'></"+"script>");
      </script> -->
      <!-- <noscript> -->
      &emsp;
      <img  style="display:inline !important; margin: auto;"
      src="https://c.statcounter.com/12491342/0/c00ed0d4/0/" alt="Web
      Analytics" >
      <!-- </noscript> -->
      <!-- End of Statcounter Code -->      

      </span>



    </footer>
  </body>
</html>
