
{% include head.html %}
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

		

  <tr>
           <td style="padding:20px;width:30%;max-width:30%" align="center">
             <img style="width:100%;max-width:100%" src="images/OrdinalCLIP.png" alt="dise">
           </td>
           <td width="75%" valign="center">
             <papertitle>OrdinalCLIP: Learning Rank Prompts for Language-Guided Ordinal Regression</papertitle>
             <br>
       <strong>Wanhua Li*</strong>, Xiaoke Huang*, Zheng Zhu, Yansong Tang, Xiu Li, Jie Zhou, and Jiwen Lu

             <br>
             <em>Conference on Neural Information Processing Systems (NeurIPS)</em>, 2022
       <br>
             <a href="https://xk-huang.github.io/OrdinalCLIP/">[Website]</a> 
       <a href="https://arxiv.org/abs/2206.02338">[arxiv]</a> 
             <a href="https://github.com/xk-huang/OrdinalCLIP">[Code]</a>
       <a href="https://zhuanlan.zhihu.com/p/565034693">[中文解读]</a>
             <br>
             <p>We propose a language-powered paradigm for ordinal regression, which learns the rank concepts from the rich semantic CLIP latent space.</p>
           </td>
        </tr>
   


      <!-- =================================================================================== -->
      <tr>
          <td style="padding:20px;width:30%;max-width:30%" align="center">
            <img style="width:100%;max-width:100%" src="../assets/img/SRP.jpg" alt="dise">
          </td>
          <td width="75%" valign="center">
            <papertitle>
             <strong>
             Super-resolution perception for industrial sensor data
             </strong>
           </papertitle>
            <br>
            Jinjin Gu, <strong>Haoyu Chen</strong>, Guolong Liu, Gaoqi Liang, Xinlei Wang, Junhua Zhao             
            <br>
            <em>arXiv</em>, 2018
       <br>
            <!-- <a href="https://sstzal.github.io/DFRF/">[Website]</a>  -->
            <a href="https://arxiv.org/abs/1809.06687">[arxiv]</a> 
            <!-- <a href="https://www.youtube.com/watch?v=F6fkVNk9bBw&amp;ab_channel=Shens">[Video]</a>  -->
            <!-- <a href="https://github.com/sstzal/DFRF">[Code]</a> -->
       <br>
            <!-- <p> 
               We propose a novel machine learning problem – the SRP problem as reconstructing high-quality data from unsatisfactory sensor data in industrial systems. 
            </p> -->
          </td>
      </tr>
      <!-- =================================================================================== -->
   

   
      <tr>
           <td style="padding:20px;width:30%;max-width:30%" align="center">
             <img style="width:100%;max-width:100%" src="../assets/img/SRP.jpg" alt="dise">
           </td>
           <td width="75%" valign="center">
             <papertitle>
              <strong>
              Super-resolution perception for industrial sensor data
              </strong>
            </papertitle>
             <br>
             Jinjin Gu, <strong>Haoyu Chen</strong>, Guolong Liu, Gaoqi Liang, Xinlei Wang, Junhua Zhao             
             <br>
             <em>arXiv</em>, 2018
        <br>
             <!-- <a href="https://sstzal.github.io/DFRF/">[Website]</a>  -->
             <a href="https://arxiv.org/abs/1809.06687">[arxiv]</a> 
             <!-- <a href="https://www.youtube.com/watch?v=F6fkVNk9bBw&amp;ab_channel=Shens">[Video]</a>  -->
             <!-- <a href="https://github.com/sstzal/DFRF">[Code]</a> -->
        <br>
             <!-- <p> 
                We propose a novel machine learning problem – the SRP problem as reconstructing high-quality data from unsatisfactory sensor data in industrial systems. 
             </p> -->
           </td>
      </tr>
  

     

       </tbody></table>