
{% include head.html %}
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

		

      <!-- =================================================================================== -->
      <tr>
        <td style="margin:5px;padding:5px;width:30%;max-width:30%" align="center">
          <img style="margin:5px;padding-right:20px;width:100%;max-width:100%" src="../assets/img/AAN.jpg" alt="dise">
        </td>
        <td width="75%" valign="center">
          <papertitle>
           <strong>
            Masked Image Training for Generalizable Deep Image Denoising
           </strong>
         </papertitle>
          <br>
          <strong>Haoyu Chen</strong>, Jinjin Gu
          <br>
          <em>IEEE Conference on Computer Vision and Pattern Recognition <strong>(CVPR)</strong></em>, 2023
     <br>
          <!-- <a href="https://www.jasongt.com/projectpages/pipal.html">[Website]</a>  -->
          <!-- <a href="https://arxiv.org/abs/2104.09497">[arxiv]</a>  -->
          <!-- <a href="https://github.com/haoyuc/A2N">[Code]</a> -->
          <!-- <a href="https://paperswithcode.com/dataset/pipal-perceptual-iqa-dataset">[Benchmark]</a>  -->
          <!-- <a href="https://www.jasongt.com/research-full">[CVPR 2022 NTIRE Challenge]</a>  -->
          <!-- <a href="https://www.youtube.com/watch?v=315Umwgpa6s">[Youtube]</a>  -->
          <!-- <a href="https://www.bilibili.com/video/BV1cr4y1P7s4">[Bilibili]</a>  -->
     <br>
          <!-- <p> 
             We propose a novel machine learning problem – the SRP problem as reconstructing high-quality data from unsatisfactory sensor data in industrial systems. 
          </p> -->
        </td>
    </tr>
    <!-- =================================================================================== -->
   
    
    

      <!-- =================================================================================== -->
      <tr>
        <td style="padding:5px;width:30%;max-width:30%" align="center">
          <img style="margin:5px;padding-right:20px;width:100%;max-width:100%" src="../assets/img/AAN.jpg" alt="dise">
        </td>
        <td width="75%" valign="center">
          <papertitle>
           <strong>
            Attention in Attention Network for Image Super-Resolution
           </strong>
         </papertitle>
          <br>
          <strong>Haoyu Chen</strong>, Jinjin Gu, Zhi Zhang
          <br>
          <em>arXiv</em>, 2021
     <br>
          <!-- <a href="https://www.jasongt.com/projectpages/pipal.html">[Website]</a>  -->
          <a href="https://arxiv.org/abs/2104.09497">[arxiv]</a> 
          <a href="https://github.com/haoyuc/A2N">[Code]</a>
          <!-- <a href="https://paperswithcode.com/dataset/pipal-perceptual-iqa-dataset">[Benchmark]</a>  -->
          <!-- <a href="https://www.jasongt.com/research-full">[CVPR 2022 NTIRE Challenge]</a>  -->
          <!-- <a href="https://www.youtube.com/watch?v=315Umwgpa6s">[Youtube]</a>  -->
          <!-- <a href="https://www.bilibili.com/video/BV1cr4y1P7s4">[Bilibili]</a>  -->
     <br>
          <!-- <p> 
             We propose a novel machine learning problem – the SRP problem as reconstructing high-quality data from unsatisfactory sensor data in industrial systems. 
          </p> -->
        </td>
    </tr>
    <!-- =================================================================================== -->
   
    


      <!-- =================================================================================== -->
      <tr>
          <td style="margin:5px;padding:5px;width:30%;max-width:30%" align="center">
            <img style="margin:5px;padding-right:20px;width:100%;max-width:100%" src="../assets/img/PIPAL.jpg" alt="dise">
          </td>
          <td width="75%" valign="center">
            <papertitle>
             <strong>
              PIPAL: a Large-Scale Image Quality Assessment Dataset for Perceptual Image Restoration
             </strong>
           </papertitle>
            <br>
            Jinjin Gu, Haoming Cai, <strong>Haoyu Chen</strong>, Xiaoxin Ye, Jimmy S.Ren, Chao Dong
            <br>
            <em>European Conference on Computer Vision  <strong>(ECCV)</strong></em>, 2020
       <br>
            <a href="https://www.jasongt.com/projectpages/pipal.html">[Website]</a> 
            <a href="https://arxiv.org/abs/2007.12142">[arxiv]</a> 
            <a href="https://github.com/HaomingCai/PIPAL-Codebase">[Code]</a>
            <a href="https://paperswithcode.com/dataset/pipal-perceptual-iqa-dataset">[Benchmark]</a> 
            <a href="https://www.jasongt.com/research-full">[CVPR 2022 NTIRE Challenge]</a> 
            <a href="https://www.youtube.com/watch?v=315Umwgpa6s">[Youtube]</a> 
            <a href="https://www.bilibili.com/video/BV1cr4y1P7s4">[Bilibili]</a> 
       <br>
            <!-- <p> 
               We propose a novel machine learning problem – the SRP problem as reconstructing high-quality data from unsatisfactory sensor data in industrial systems. 
            </p> -->
          </td>
      </tr>
      <!-- =================================================================================== -->
   

   
      <!-- =================================================================================== -->
      <tr>
           <td style="margin:5px;padding:5px;width:30%;max-width:30%" align="center">
             <img style="margin:5px;padding-right:20px;width:100%;max-width:100%" src="../assets/img/SRP.jpg" alt="dise">
           </td>
           <td width="75%" valign="center">
             <papertitle>
              <strong>
              Super-resolution perception for industrial sensor data
              </strong>
            </papertitle>
             <br>
             Jinjin Gu, <strong>Haoyu Chen</strong>, Guolong Liu, Gaoqi Liang, Xinlei Wang, Junhua Zhao             
             <br>
             <em>arXiv</em>, 2018
        <br>
             <!-- <a href="https://sstzal.github.io/DFRF/">[Website]</a>  -->
             <a href="https://arxiv.org/abs/1809.06687">[arxiv]</a> 
             <!-- <a href="https://www.youtube.com/watch?v=F6fkVNk9bBw&amp;ab_channel=Shens">[Video]</a>  -->
             <!-- <a href="https://github.com/sstzal/DFRF">[Code]</a> -->
        <br>
             <!-- <p> 
                We propose a novel machine learning problem – the SRP problem as reconstructing high-quality data from unsatisfactory sensor data in industrial systems. 
             </p> -->
           </td>
      </tr>
        <!-- =================================================================================== -->


     

       </tbody>
</table>







<tbody>
  <tr style="padding:0px">
    <td style="padding:2.5%;width:63%;vertical-align:middle">
      <p style="text-align:center">
        <name>Wanhua Li</name>
      </p>
      <p>I am currently a postdoctoral fellow at <a href="https://www.harvard.edu/">Harvard University</a> supervised by Prof. <a href="https://vcg.seas.harvard.edu/people">Hanspeter Pfister</a>. 
Prior to that, I received my Ph.D. from the Department of Automation at <a href="https://www.tsinghua.edu.cn/en/">Tsinghua University</a> in 2022, advised by Prof. <a href="http://ivg.au.tsinghua.edu.cn/Jiwen_Lu/">Jiwen Lu</a>, 
Prof. <a href="http://ivg.au.tsinghua.edu.cn/~jfeng/">Jianjiang Feng </a>, and Prof. <a href="https://www.au.tsinghua.edu.cn/info/1084/1699.htm">Jie Zhou</a>. 
  In 2017, I received my B.S. degree in computer science at <a href="https://www.sysu.edu.cn/sysuen/">Sun Yat-sen University</a>, Guangzhou, China. 
</p>

<p>My research interests mainly include face analysis, neural rendering, and 3D-aware synthesis. </p>

<p> <b>If you are interested in my research or would like to work with me as an intern at Harvard University, feel free to contact me. Remote collaboration is also welcome!</b>
</p>

<p> Email: wanhuali [AT] g [DOT] harvard [DOT] edu  <br> <!-- <del> li-wh17 [AT] mails [DOT] tsinghua [DOT] edu [DOT] cn </del>  --> </p>
      <p style="text-align:center">
        <!-- <a href="mailto:wanhua016@gmail.com"> Email </a> &nbsp/&nbsp -->
        <!-- <a href="data/CV_Wanhua.pdf"> CV </a> &nbsp/&nbsp -->
        <a href="https://scholar.google.com/citations?user=I03QnrsAAAAJ"> Google Scholar </a> &nbsp;/&nbsp;
<a href="https://twitter.com/Wanhua_Ethan_Li">Twitter</a> &nbsp;/&nbsp;
        <a href="https://github.com/Li-Wanhua"> GitHub </a> 
      </p>
    </td>
    <td style="padding:2.5%;width:30%;max-width:30%">
      <a href="../assets/img/profile.jpg"><img style="width:100%;max-width:100%" alt="profile photo" src="../assets/img/profile.jpg" class="hoverZoomLink"></a>
    </td>
  </tr>
</tbody>